
@font-face {
  font-family: 'cera_round_proregular';
  src: url('../fonts/typemates_-_ceraroundpro-regular-webfont.woff2') format('woff2'),
  url('../fonts/typemates_-_ceraroundpro-regular-webfont.woff') format('woff'),
  url('../fonts/typemates_-_ceraroundpro-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cera_round_promedium';
  src: url('../fonts/typemates_-_ceraroundpro-medium-webfont.woff2') format('woff2'),
  url('../fonts/typemates_-_ceraroundpro-medium-webfont.woff') format('woff'),
  url('../fonts/typemates_-_ceraroundpro-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cera_round_probold';
  src: url('../fonts/typemates_-_cera_round_pro_bold-webfont.woff2') format('woff2'),
  url('../fonts/typemates_-_cera_round_pro_bold-webfont.woff') format('woff'),
  url('../fonts/typemates_-_cera_round_pro_bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}