<section class="about-wrapper" id="about">
    <div class="container">
        <section class="about-content">
            <header>
                <h1>Что такое &#171;Дневник здоровья&#187;</h1>
            </header>
            <p>
                Дневник пациента — это удобный онлайн-сервис:
            </p>
            <ul>
                <li>Вносите результаты измерений вручную или с помощью интегрированных приборов</li>
                <li>Ведите персональную медецинскую карту с историей ваших измерений</li>
                <li>Делитесть результатами измерений со специалистами для повышения эффективности лечения</li>
                <li>Получайте рекомендации, созданные специально для вас</li>
            </ul>
            <div class="button-wrapper info-button">
                <button type="button">Узнать больше</button>
            </div>
        </section>
        <aside class="about-img">
            <img src="img/mob.png" alt="" title="" class="test">
        </aside>
    </div>
    <div class="diagramm-wrapper">
        <div class="circle c-1">
            <span class="dot d-1">55</span>
            <span class="dot d-2">68</span>
            <span class="dot d-3">72</span>
        </div>
        <div class="circle c-2"></div>
        <img class="heart" src="img/heart.png">
        <img class="pulse" src="img/pulse.png">
    </div>
</section>