<section class="carousel-wrapper">
    <div class="owl-carousel owl-default">
        <section class="owl-item-content">
            <header>
                <h1>Расширяем возможности предоставления качественных медицинских услуг</h1>
            </header>
            <p>
                &#171;Дневник здоровья&#187; &mdash; новый сервис для самоконтроля показателей состояния здоровья,
                разработанный для участников программы &#171;Моё здоровье&#187;
            </p>
            <div class="button-wrapper info-button">
                <button type="button">Узнать больше</button>
            </div>
        </section>
        <section class="owl-item-content">
            <header>
                <h1>Расширяем возможности предоставления качественных медицинских услуг - слайд 2</h1>
            </header>
            <p>
                &#171;Дневник здоровья&#187; &mdash; новый сервис для самоконтроля показателей состояния здоровья,
                разработанный для участников программы &#171;Моё здоровье&#187;
            </p>
            <div class="button-wrapper info-button">
                <button type="button">Узнать больше</button>
            </div>
        </section>
    </div>
</section>