<footer class="footer">
    <div class="container">
        <div class="logo">
            <img src="img/logo-f.png" alt="" title="">
        </div>
        <nav>
            <ul>
                <li><a href="#">О сервисе</a></li>
                <li><a href="#">Функции</a></li>
                <li><a href="#">Возможности</a></li>
                <li><a href="#">Специалистам</a></li>
            </ul>
        </nav>
        <div class="f-phone">
            88005004549
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            Разработка сайта <a href="#">Redsoft</a>
        </div>
    </div>
</footer>