<div class="navbar is-top">
    <div class="container">
        <a href="#main" class="logo"><img src="img/logo.png" alt="" title=""></a>
        <nav>
            <ul>
                <li><a href="#about">О сервисе</a></li>
                <li><a href="#functional">Функции</a></li>
                <li><a href="#">Возможности</a></li>
                <li><a href="#">Партнеры</a></li>
            </ul>
            <div class="hamburger">
                <div></div>
            </div>
        </nav>
        <div class="button-wrapper header-button">
            <button type="button">Оставить заявку</button>
        </div>
    </div>
</div>